body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;

}

header {
  background-color: rgba(90, 185, 80, 0.336);
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 40px;
  padding: 40px;


  font-family: "Spicy Rice", serif;
  font-weight: 500;
  font-style: normal;

  font-family: "Almendra SC", serif;
  font-weight: 1000;
  font-style: normal;
}





















nav {
  background-color: #79d374c7;
  overflow: hidden;
  text-align: center;
}

nav a {
  display: inline-block;
  color: rgba(0, 0, 0, 0.76);
  text-decoration: none;
  padding: 14px 20px;
}

nav a:hover {
  background-color: #79d374bb;
  color: rgb(255, 255, 255);
}

.texto-colorido {
  background-color: rgba(90, 185, 80, 0.544);
  margin-top: 70px;
  padding: 20px;
  width: 30%;
  border-radius: 20px;
  height: 30%;
  font-size: 17px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}

.texto-colorido2 {
  background-color: rgba(90, 185, 80, 0.544);
  margin-top: 70px;
  padding: 20px;
  width: 30%;
  border-radius: 20px;
  height: 30%;
  font-size: 17px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}

button{
  background-color: white;
border-radius: 100px;
height: 5%;
width: 5%;
}

button img {
  height: 5%;
width: 5%;
}






















.wrapper {
  --font-color-dark: #ffffff;
  --font-color-light: #8c8484;
  --bg-color: #212121;
  --main-color: #ffffff;
  --secondary-color: hsl(0, 0%, 0%);
  position:relative;
  width: 1515px;
  height: 36px;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 34px;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px var(--main-color);
  }

.option {
  margin-right: 5px;
  width: 200px;
  height: 28px;
  position: relative;
  top: 2px;
  left: 490px;
  border-radius: 34px;
  transition: 0.25s cubic-bezier(0, 0, 0, 1);
  
}

.option:last-child {
  margin-right: 4px;
}

.option:hover {
  background-color: var(--secondary-color);
}

.option:hover .span {
  color: var(--font-color-light);
}

.input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  appearance: none;
  cursor: pointer;
}

.btn {
  width: 100px;
  height: 100%;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span {
  color: var(--font-color-dark);
}

.input:checked + .btn {
  background-color: var(--main-color);
  transition: 0.2s cubic-bezier(0, 0, 0, 1);
}

.input:checked + .btn .span {
  color: var(--font-color-light);
  transition: 0.25s cubic-bezier(0, 0, 0, 1);
}
