body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;

}



nav {
  background-color: black;
  overflow: hidden;
  border-radius: 15px;
}

nav a {
  font-size: 30%;
  display: inline-block;
  color: rgb(241, 0, 0);
  text-decoration: none;
  padding: 14px 20px;
  border-radius: 10px;
}

nav a:hover {
  color: rgb(255, 255, 255);

        -xpedu-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}



header {
  background-color: rgba(90, 185, 80, 0.336);
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 40px;
  padding: 40px;


  font-family: "Spicy Rice", serif;
  font-weight: 500;
  font-style: normal;

  font-family: "Almendra SC", serif;
  font-weight: 1000;
  font-style: normal;
}


.texto-colorido {
  background-color: rgba(90, 185, 80, 0.544);
  margin-top: 70px;
  padding: 20px;
  width: 30%;
  border-radius: 20px;
  height: 30%;
  font-size: 17px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}

.texto-colorido2 {
  background-color: rgba(90, 185, 80, 0.544);
  margin-top: 70px;
  padding: 20px;
  width: 30%;
  border-radius: 20px;
  height: 30%;
  font-size: 17px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}

button {
  background-color: white;
  border-radius: 100px;
  height: 5px;
  width: 5px;
  font-size: 50px;

}














html2

body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  text-align: center;
}

.login-container {
  margin-top: 100px;
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}