body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;
  
}


nav {
  background-color: rgba(0, 0, 0, 0.271);
  overflow: hidden;
}


nav a {
  font-size: 20px;
  display: inline-block;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 30px 40px;
  border-radius: 10px;
  
}

nav a:hover {
 color: #45a049;

        -xpedu-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

.login{
 text-align: right;
  margin-top: -87px ;
  border-radius: 30px;
  
}